<header [ngClass]="{'nav_mod': navScrolled}" id="header">
  <div class="container__header">
    <div class="logo">
      <img src="../../../../assets/image/logo-book.svg" alt="Logo">
    </div>
    <div class="container__nav">
      <nav id="nav">
        <ul>
          <li><a href="#" class="select">HOME</a></li>
          <li><a href="#">ABOUT US</a></li>
          <li><a href="#" routerLink="list/books/read">READ LIST</a></li>
          <li><a href="#">CONTACT US</a></li>
        </ul>
      </nav>

      <div class="btn__menu" id="btn_menu" (click)="mostrarMenu()"><i class="fas fa-bars"></i></div>
    </div>
  </div>
</header>

<div class="container-all" id="move-content">
  <div class="container" *ngIf="readingList.length > 0; else emptyList">
    <h2>Your Reading List</h2>
    <div class="container-post">
      <div *ngFor="let book of readingList" class="posts">
        <div class="animated-card">
          <div class="card">
            <div class="card__front ctn-img">
              <img [src]="book.cover" alt="">
            </div>
            <div class="card__back">
              <div class="body__card_back">
                <h2>{{ book.title }}</h2>
                <span>Autor: {{ book.author.name }}</span>
                <ul class="ctn-tag">
                  <p>Género: {{ book.genre }}</p>
                  <p>Sinopsis: {{ book.synopsis }}</p>
                </ul>
                <button (click)="remove(book)">Remover de la Lista de Lectura</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #emptyList>
    <p>No books in your reading list.</p>
  </ng-template>
</div>



