<div>
  <nav-bar-book></nav-bar-book>
</div>

<div class="container-all" id="move-content">
  <div class="container__card" *ngIf="readingList.length > 0; else emptyList">
    <h2>Your Reading List</h2>
    <div class="slide-container">
      <div class="slide-content">
        <div *ngFor="let book of readingList" class="card-wrapper">
          <div class="card">
            <div class="image-content">
              <div class="overlay"></div>
              <div class="card-image">
                <img [src]="book.cover" alt="" class="card-img">
              </div>
            </div>
            <div class="card-content">
              <h2 class="name">{{ book.title }}</h2>
              <span class="description">Autor: {{ book.author.name }}</span>
              <p class="description">Género: {{ book.genre }}</p>
              <button
              (click)="remove(book)"
              class="button button-remove">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="16" height="16">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
              Remover Lectura
          </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #emptyList>
    <p>No books in your reading list.</p>
  </ng-template>
</div>



