<div>
  <nav-bar-book></nav-bar-book>
</div>

<div class="container-all" id="move-content">
  <div class="container" *ngIf="readingList.length > 0; else emptyList">
    <h2>Your Reading List</h2>
    <div class="container-post">
      <div *ngFor="let book of readingList" class="posts">
        <div class="animated-card">
          <div class="card">
            <div class="card__front ctn-img">
              <img [src]="book.cover" alt="">
            </div>
            <div class="card__back">
              <div class="body__card_back">
                <h2>{{ book.title }}</h2>
                <span>Autor: {{ book.author.name }}</span>
                <ul class="ctn-tag">
                  <p>Género: {{ book.genre }}</p>

                </ul>
                <button (click)="remove(book)">Remover de la Lista de Lectura</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #emptyList>
    <p>No books in your reading list.</p>
  </ng-template>
</div>



