.container-all {
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container h2{
  padding: 20px;
}
.container-post {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.posts {
  margin: 20px;
  perspective: 1000px;
}

.animated-card {
  width: 350px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 600ms;
  border-radius: 20px;
}

.animated-card:hover .card {
  transform: rotateY(180deg);
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.card__front {
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.card__back {
  background: white;
  transform: rotateY(180deg);
  border-radius: 20px;
}

.ctn-img {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  border-radius: 20px;
}

.ctn-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.card__front,
.card__back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.body__card_front {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transform: translateZ(60px);
  margin-left: -40px;
}

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
  border-radius: 20px;
}

.body__card_back {
  padding: 40px;
  text-align: center;
  transform: translateZ(60px);
}

.body__card_back p {
  margin-top: 30px;
  font-size: 18px;
}

.body__card_back button {
  padding: 10px 40px;
  margin-top: 30px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: white;
  background: #58B0F6;
  box-shadow: 1px 1px 30px -5px #58B0F6;
  border-radius: 10px;
  transition: box-shadow 600ms;
}

.body__card_back button:hover {
  box-shadow: 1px 1px 30px 0px #449de6;
}
