<main>
   <div class="counter-container">
    <p>Total de Libros: {{ totalBooks }}</p>
    <p>Libros en Lista de Lectura: {{ totalReadingListBooks }}</p>
    <p>Libros en Género Seleccionado: {{ totalFilteredBooks }}</p>
  </div>

  <button class="btn- btn-primary" (click)="listAll()">Todos</button>
  <button class="btn- btn-primary" (click)="filterByGenre('Fantasía')">Fantasía</button>
  <button class="btn- btn-primary" (click)="filterByGenre('Ciencia ficción')">Ciencia Ficción</button>
  <button class="btn- btn-primary" (click)="filterByGenre('Zombies')">Zombies</button>
  <button class="btn- btn-primary" (click)="filterByGenre('Terror')">Terror</button>

  <div class="container__card">

      <div class="card__father" *ngFor="let book of filteredBooks | filtro:page">
          <div class="card">
              <div class="card__front"  [ngStyle]="{'background-image': 'url(' + book.cover + ')'}">
                  <div class="bg"></div>
                  <div class="body__card_front">

                  </div>
              </div>
              <div class="card__back">
                  <div class="body__card_back">
                      <h1>{{book.author.name}}</h1>
                      <p>Sinopsis: {{book.synopsis}}</p>

                      <input *ngIf="!isInReadingList(book)" (click)="addToReadingList(book)" type="button"  value="Añadir Lectura">
                      <input *ngIf="isInReadingList(book)" (click)="removeFromReadingList(book)" type="button" value="Remover Lectura">
                  </div>
              </div>
          </div>
      </div>
  </div>

  <button class="btn- btn-primary" (click)="prevPage()">anterior</button>
  <button class="btn- btn-primary" (click)="nextPage()" [disabled]="filteredBooks.length === 0">siguiente</button>
  &nbsp;
</main>


