<div>
  <!-- nav-bar -->
  <nav-bar-book></nav-bar-book>

  <div class="container__all" id="container_all">
    <div class="cover" >

      <div class="bg_color"></div>
      <div class="wave w1"></div>
      <div class="wave w2"></div>

        <div class="container__cover " >

            <div class="container__info" >
                <h1>SOMOS</h1>
                <h2>BOOK PRO</h2>
                <p>En Book Pro cada libro, una nueva aventura, prepárate para vivir mil vidas y explorar tierras desconocidas. Cada página es una puerta abierta a lo inesperado.
                </p>
                <p>Disfruta de tus libro favoritos desde cualquier parte del mundo.</p>
                <input type="button" value="Get Started">
            </div>
            <div class="container__vector">
                <img src="../../../../assets/image/undraw_Code_thinking_re_gka2.svg"  alt="">
            </div>
        </div>

    </div>
  </div>

</div>


